{% extends "layout.html" %}
{% block body %}
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <!-- Page Heading/Breadcrumbs-->
                <h1>
                    404
                    <small>Page Not Found</small>
                </h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">404</li>
                </ol>
                <div class="jumbotron">
                    <h2 class="display-2">404</h2>
                    <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li>
                            Models
                            <ul>
                                <li><a href="/sedan">Sedan</a></li>
                                <li><a href="/x_series">X Series</a></li>
                                <li><a href="/m_series">m Series</a></li>
                            </ul>
                        </li>
                        <li>
                            Other Pages
                            <ul>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/pricing">Pricing Table</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
{% endblock %}