{% extends "layout.html" %}
{% block body %}

<div class="container">
  <h2>ContactUs details</h2>
        <table class="table">
    <thead>
      <tr>
        <th>Sno.</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>message</th>
      </tr>
    </thead>
    <tbody>
    {% for a in contact %}
      <tr>
        <td>{{a[0]}}</td>
        <td>{{a[1]}}</td>
        <td>{{a[2]}}</td>
        <td>{{a[3]}}</td>
        <td>{{a[4]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>        

{% endblock %}
       
