{% extends "layout.html" %}
{% block body %}



<div class="container">
  <h2>Booking details</h2>
        <table class="table">
    <thead>
      <tr>
        <th>Sno.</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Model</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
    {% for r in booking %}
      <tr>
        <td>{{r[0]}}</td>
        <td>{{r[1]}}</td>
        <td>{{r[2]}}</td>
        <td>{{r[3]}}</td>
        <td>{{r[4]}}</td>
        <td>{{r[5]}}</td>
        <td>{{r[6]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>        

{% endblock %}
       
