{% extends "layout.html" %}
{% block body %}
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <!-- Page Heading/Breadcrumbs-->
                <h1>
                    M series
                    
                </h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">M series</li>
                </ol>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/m2.jpg')}}" height="300px"></a>
                            <div class="card-body">
                                <h4>THE BMW M2 COMPETITION</h4>
                                <p class="card-text">A sports car that changes every road. The BMW M2 Competition overwhelms with an outstanding combination of performance, agility and precision. The enlarged air inlets in the front apron signal the concentrated power of the new 410 hp Bi-turbo inline 6-cylinder petrol engine. The BMW M2 Competition is a permanent guarantee of high performance and the aspiration to set new records. A genuine M automobile, built for winners.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/m760.jpg')}}"height="300px"></a>
                            <div class="card-body">
                                <h4>THE BMW 760Li</h4>
                                <p class="card-text">Featuring new exquisite design details, the finest materials and powerful innovations, the BMW 7 Series Saloon, delivers a new echelon of driving pleasure. Imagined, designed and crafted for individuals who value every moment, discover an experience inspired by those who drive the world.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/m8.jpg')}}"   ></a>
                            <div class="card-body">
                                <h4>THE BMW M8 Coupe</h4>
                                <p class="card-text">The BMW M8 Coupé represents the pinnacle of driving luxury – an elegant translation of M genes for everyday use – both on the road and the racetrack offering an exceptional synthesis of comfort, performance and efficiency. The BMW M8 Coupé offers luxury ambiance with the ultimate motorsport feeling, designed to push the limits of dynamic performance.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/x3m.jpg')}}"></a>
                            <div class="card-body">
                                <h4>THE BMW X3 M</h4>
                                <p class="card-text">Superior performance on every route: the BMW X3 M accelerates pulse and driving pleasure to new heights in split seconds. Experience a sports car charged with emotion, which unites the adventurous spirit of a BMW X3 with the sporty and exclusive claim of BMW M. It is up to you: the BMW X3 M features outstanding motorsports genes and offers driving dynamics on the highest level, demonstrating an extremely well-balanced interplay of performance, comfort and efficiency.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/x5m.jpg')}}"height="300px"></a>
                            <div class="card-body">
                                <h4>THE ALL-NEW BMW X5 COMPETITION</h4>
                                <p class="card-text">Superiority in every discipline: the BMW X5 M Automobiles manifest their claim to leadership with powerful proportions, exclusive M design and outstanding performance. An adrenaline-charged driving experience that receives yet another boost in the even more powerful and flamboyant BMW X5 M Competition with M xDrive.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{url_for('static', filename='img/x7m.jpg')}}"height="300px"></a>
                            <div class="card-body">
                                <h4>THE FIRST-EVER BMW X7 M50d</h4>
                                <p class="card-text">A statement of the luxury class: the new BMW X7 is the elegant fusion of presence and personality. Despite its majestic appearance, it gives an impression of lightness and agility thanks to the puristic design and athletic styling. At the same time, the considerable spaciousness of the interior offers a pioneering interplay of exclusivity, functionality and freedom – incomparable comfort all the way to the third row of seats. Charm is its essence. Elegance its character.</p>
                                <a class="btn btn-primary" href="/requestdrive">Book a Test Drive</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination-->
<!--                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul> -->
            </div>
        </section>
{% endblock %}
