{% extends "layout.html" %}
{% block body %}
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <!-- Page Heading/Breadcrumbs-->
                <h1>
                    BMW FINANCIAL SERVICES
                </h1>
                <h6>In the world of BMW, world-class isn’t limited to the vehicles that we engineer. It also finds its way into the services that we offer. Presenting BMW Financial Services – the most flexible and efficient way to realize your dream of owning a BMW. </h6 >
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item active">Pricing</li>
                </ol>
                <!-- Content Row-->
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card h-100">
                            <h3 class="card-header">Basic</h3>
                            <div class="card-body">
                                <div class="display-4">$19.99</div>
                                <div class="font-italic">per month</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item"><a class="btn btn-primary" href="#">EMI CALCULATOR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="card card-outline-primary h-100">
                            <h3 class="card-header bg-primary text-white">Plus</h3>
                            <div class="card-body">
                                <div class="display-4">$39.99</div>
                                <div class="font-italic">per month</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item"><a class="btn btn-primary" href="#">EMI CALCULATOR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <h3 class="card-header">Ultra</h3>
                            <div class="card-body">
                                <div class="display-4">$159.99</div>
                                <div class="font-italic">per month</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item"><a class="btn btn-primary" href="#">EMI CALCULATOR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
